paths:
  raw:
    train: "datasets/NER/CANTEMIST/train/brat" # Carpeta que contiene los archivos de texto y anotaciones de train
    dev: "datasets/NER/CANTEMIST/dev/brat" # Carpeta que contiene los archivos de texto y anotaciones de dev
    test: "datasets/NER/CANTEMIST/test/brat" # Carpeta que contiene los archivos de texto y anotaciones de test
  json_raw:
    train: "datasets/NER/CANTEMIST/train/train.json" # Datos de train en formato JSON
    dev: "datasets/NER/CANTEMIST/dev/dev.json" # Datos de dev en formato JSON
    test: "datasets/NER/CANTEMIST/test/test.json" # Datos de test en formato JSON
  processed:
    train: "datasets/NER/CANTEMIST/processed/train/train.hf" # HF Dataset con los datos de train
    dev: "datasets/NER/CANTEMIST/processed/dev/dev.hf" # HF Dataset con los datos de dev
    test: "datasets/NER/CANTEMIST/processed/test/test.hf" # HF Dataset con los datos de test
  gemma_processed:
    train: "datasets/NER/CANTEMIST/gemma_processed/train/train.hf" # HF Dataset con los datos de train tokenizados para gemma 3
    dev: "datasets/NER/CANTEMIST/gemma_processed/dev/dev.hf" # HF Dataset con los datos de dev tokenizados para gemma 3
    test: "datasets/NER/CANTEMIST/gemma_processed/test/test.hf" # HF Dataset con los datos de test tokenizados para gemma 3
  label_map: "datasets/NER/CANTEMIST/label_map/label2id.json"
  results: "results/NER/CANTEMIST/"
  model_dir: "models/NER/CANTEMIST/"

model_name: "HiTZ/EriBERTa-base"

wandb_project: "eriberta-ner-CANTEMIST"

hyperparameters:
  batch_size: 8
  learning_rate: 1.0e-5
  weight_decay: 0.0